# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp

# Cache
data/.cache_pairs/

# Generated outputs (re-created by notebooks)
data/outputs/
*.npy

# PDFs
*.pdf
